baseUrl = '/images/'
primaryColor = #008eff
secondaryColor = #414aab

.services-container
  max-width: 600px
  margin: auto

.service-block
  background-image: url(baseUrl + 'hexa.png')
  background-repeat: no-repeat
  background-position: center
  background-size: 250px
  width: 200px
  height: 200px
  position: relative

  img
    width: 50px
    position: relative
    left: 75px
    top: 75px

  p
    margin-top: 35px
    color: secondaryColor
    text-shadow: 0 0 5px grey
    font-size: 17px
    font-weight: bold
    text-align: center
    width: 90px
    text-shadow: 0 0 5px #d3d3d3
    position: relative
