baseUrl = '/images/'

.service-block
  background-image: url(baseUrl + 'hexa.png')
  background-repeat: no-repeat
  background-position: center
  background-size: 150px
  width: 110px
  height: 110px

  img
    width: 50px
